@page
@model lab484.Pages.viewDB.viewUsersModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Users View</h2>
<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>User ID:</th>
            <th>username:</th>
            <th>password:</th>
            <th>first name:</th>
            <th>last name:</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var user in Model.userList)
            {
                <tr>
                    <td class="text-danger">@user.UserID</td>
                    <td>@user.UserName</td>
                    <td>@user.Password</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                </tr>
            }
        }
    </tbody>
</table>

<br />

<div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary" asp-page="/viewDB/viewUsers">Next ></button>
</div>

