@page 
@model lab484.Pages.MessagesModel

@{
}
<h1>Received Messages</h1>
<table class="table">
    <thead>
        <tr>
            <th>Subject</th>
            <th>Sender</th>
            <th>Contents</th>
            <th>Received Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var message in Model.receivedList)
        {
            <tr>
                <td>@message.SubjectTitle</td>
                <td>@message.SenderUsername</td>
                <td>@message.Contents</td>
                <td>@message.SentTime</td>
            </tr>
        }
    </tbody>
</table>

<h2>Send Message</h2>
<div class="form-group row justify-content-center">
    <select class="form-control username-select">
        <option value="" disabled selected>Select Recipient</option>
        @foreach (var item in Model.Usernames)
        {
            <option value="@item.Value">@item.Text</option>
        }
    </select>
    <span class="text-danger"></span>
</div>
<br />
<div class="form-group row justify-content-center">
    <input type="text" class="form-control subject-input" placeholder="Enter Subject">
    <span class="text-danger"></span>
</div>
<br />
<div class="form-group row justify-content-center">
    <textarea class="form-control message-textarea" rows="5" placeholder="Enter Message"></textarea>
    <span class="text-danger"></span>
</div>
<br />
<div class="form-group row justify-content-center">
    <button type="submit" class="btn btn-primary">Send</button>
</div>

